@model Hotel.Models.Reserva

<link type="text/css" href="@Url.Content("~/Content/datePicker/jquery.ui.all.css")" rel="Stylesheet" />
<link type="text/css" href="@Url.Content("~/Content/datePicker/demos.css")" rel="Stylesheet" />

@*<script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>*@

<script src="@Url.Content("~/Content/Events/jquery.numeric.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Events/jquery.form.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Events/Events.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/datePicker/jquery.ui.core.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/datePicker/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/datePicker/jquery.ui.datepicker.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#Fecha_ingreso, #Fecha_egreso").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true
        });
    });
</script>

<img src="@Url.Content("~/Content/images/puerta.jpg")" width="160px" height="190px" />
<h2>Crear Reservacion</h2>
<h3>
@ViewBag.error
@ViewBag.habitacionLibre
<b><i>Habitacion @ViewBag.nameHabitacion</i></b>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
        <b>@ViewBag.fecha_incorrecta</b>
        <table>
            <tr>
                <td>
                    <div>
                        <input type="hidden" value="@ViewBag.HabitacionID_" id="HabitacionID_" name="HabitacionID_" />
                    </div>
                    <div>
                        @Html.LabelFor(model => model.Fecha_ingreso)
                        @Html.ValidationMessageFor(model => model.Fecha_ingreso)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Fecha_ingreso)
                        @Html.ValidationMessageFor(model => model.Fecha_ingreso)
                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(model => model.Hora_ingreso)
                        @Html.ValidationMessageFor(model => model.Hora_ingreso)
                    </div>
                    <div class="editor-field">
                        <input type="text" id="Hora_ingreso" name="Hora_ingreso" value="@ViewBag.hora" />
                        @*@Html.EditorFor(model => model.Hora_ingreso)
                        @Html.ValidationMessageFor(model => model.Hora_ingreso)*@
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Fecha_egreso)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Fecha_egreso)
                        @Html.ValidationMessageFor(model => model.Fecha_egreso)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Hora_egreso)
                    </div>
                    <div class="editor-field">
                        <input type="text" id="Hora_salida" name="Hora_salida" value="14:00:00" />
                        @*@Html.EditorFor(model => model.Hora_salida)
                        @Html.ValidationMessageFor(model => model.Hora_salida)*@
                    </div>
                </td>
            </tr>
        </table>
        <!-- Cliente -->
        @Ajax.ActionLink("Verificar Cliente", "client", "Verificar_titular", new AjaxOptions
   {
       InsertionMode = InsertionMode.Replace,
       LoadingElementId = "Uploading",
       UpdateTargetId = "upload_cedula_titular",
       HttpMethod = "POST",
       //llamo al metodo q muestra la cantidad de dias de la resrvacion
   })
        <div id="upload_cedula_titular">
        <!-- here..! -->
        </div>       
        <img id="Uploading" src="@Url.Content("~/Content/images/image_alternativa.GIF")" style="display:none" />
            <div id="upload_cliente">
                <!-- Aqui guardare la data del user -->
            </div> 
        <!-- Acompaniantes -->
        @Ajax.ActionLink("Create Acompañantes", "Create", "Acompaniante",
            new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "Uploading",
                UpdateTargetId = "Acampaniante"
            });
            <div id="Acampaniante">Acompañante</div>
            <!-- lista de Acompaniantes -->
            <div id="list_Acompaniantes">
                <!-- here..! -->
            </div>
        <!-- FIN Acompaniantes -->
        <table>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Total)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Total)
                        @Html.ValidationMessageFor(model => model.Total)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Abono)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Abono)
                        @Html.ValidationMessageFor(model => model.Abono)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Restante)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Restante)
                        @Html.ValidationMessageFor(model => model.Restante)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        Habitacion Entregada..?
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Estado)
                    </div>
                </td>
            </tr>
            <tr>
        <td>
           <div class="editor-label">
                @Html.LabelFor(model => model.Observacion)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Observacion)
                @Html.ValidationMessageFor(model => model.Observacion)
            </div>  
        </td>
    </tr> 
        </table>      
    <p>
        <input type="submit" value="Crear" />
    </p>
    
}
</h3>
  @*  @Html.Action("Create", "CheckIn");*@
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
