@*<link href="@Url.Content("~/Content/MarckUp/StyleTable.css")" rel="Stylesheet" type="text/css" />*@
<link href="@Url.Content("~/Content/myTable.css")" rel="Stylesheet" type="text/css" />

<div class="entry-meta" aling="center">
<span class="author vcard">
    <a class="url fn n" href="#" title="" rel="author">
@model IEnumerable<Hotel.Models.Reserva>

@{
    WebGrid grid = new WebGrid(Model);
 }
@ViewBag.total
@ViewBag.error

@*@grid.GetHtml(columns: new[]{ grid.Column("Nombres", format: f=>f.cliente.Nombres)})*@
@grid.GetHtml(
    fillEmptyRows: true,
    alternatingRowStyle: "fila-alternativa",
    headerStyle: "encabezado-grid",
    footerStyle: "pie-grid",
    mode: WebGridPagerModes.All,
    firstText: "<< Primera",
    previousText: "< Anterior",
    nextText: "Siguiente >",
    lastText: "Última >>",
    

    columns: new[]{ 
    grid.Column("Habitacion", 
        header: "Habitacion",
        format: i=>i.habitacion.Num_habitacion
    ),
    grid.Column("Visitante", 
        header: "Visitante",
        format: @<a data-ajax="true" data-ajax-loading="#Uploading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#details_cliente"   href="@Url.Action("Details", "Cliente", new { id = item.ClienteID_})">@item.cliente.Nombres</a>
    ),
    grid.Column("Creacion", 
        header: "Creacion",
        format: i=>i.Fecha_creacion
    ),
    grid.Column("Ingreso", 
        header: "Ingreso",
        format: i=>i.Fecha_ingreso
    ),
    grid.Column("Egreso", 
        header: "Egreso",
        format: i=>i.Fecha_egreso
    ),
    grid.Column("Dias", 
        header: "Dias",
        format: i=>i.Cantidad_dias
    ),
    grid.Column("Estado", 
        header: "Estado",
        format: i=>i.Estado
    ),
    grid.Column("Total", 
        header: "Total",
        format: i=>i.Total
    ),
    grid.Column("Abono", 
        header: "Abono",
        format: i=>i.Abono
    ),
    grid.Column("Resta", 
        header: "Resta",
        format: i=>i.Restante
    ),
    //grid.Column("", 
    //    header: "fecha devolucion",
    //    format: i=>i.Fecha_devolucion
    //),
    grid.Column("", 
        header: "",
        format: @<a data-ajax="true" data-ajax-loading="#Uploading" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#load_Edit" href="@Url.Action("Edit", "Reservacion", new { id = item.ReservacionID })" >editar</a>
    ), 
    grid.Column("", 
        header: "",
        format: @<a data-ajax="true" data-ajax-confirm="Esta seguro(a) que desea ELIMINAR ESTA RESERVACION DE LA BASE DE DATOS..?" data-ajax-method="post" href="@Url.Action("Delete", "Reservacion", new { id = item.ReservacionID})" >cancelar</a>
    ),
    grid.Column("", 
        header: "",
        format: @<text>
                    @Html.ActionLink("Registro PDF", "RegistroHuesped_PDF", new { id = item.ReservacionID }, new { target = "_blank" })
                </text>
    ),  
    
})

<div class="content">

</div>
<div id="load_Edit">
    <!-- here load edit -->
</div>
</div>
    <img id="Uploading" src="@Url.Content("~/Content/images/image_alternativa.GIF")" style="display:none" />
<div id="UploadImg">
    <!-- load here image ..! -->
</div>

<div id="details_cliente">
    <!-- load details Cliente -->
</div>
