<span class="sep">
    En B.C. Hoteles S. A., trabajamos para garantizar servicios de calidad a nuestros huéspedes, 
    Cliente externos e internos, cumpliendo con sus expectativas y obteniendo su fidelidad a través de 
    nuestro compromiso con la calidad y la calidez en los servicios de Alojamiento, Alimentos & Bebidas, 
    Banquetes, Recreación, Seguridad y Lavandería. Velamos por el desarrollo personal y profesional de nuestros 
    colaboradores; maximizando la rentabilidad para los accionistas y asociados; siempre comprometidos con el 
    desarrollo sostenible del entorno y apoyando iniciativas de las comunidades en las que estemos presentes.
    <br />
    <br />
    Es nuestra prioridad satisfacer las necesidades de nuestros huéspedes y Cliente, 
    ofreciéndoles un servicio de calidad, con calidez, de acuerdo a estándares hoteleros internacionales. 
    Nuestros procesos están dise&ntilde;ados para adaptarse con flexibilidad a la evolución del
        mercado, aportando así a la mejora continua de nuestro Sistema de Gestión.
</span>
LA HORA COMPLETA ES @ViewBag.horaCompleta
LA fecha ES @ViewBag.fecha<br />
LA hora ES @ViewBag.horas<br />
LA minutos ES @ViewBag.minutos<br />
LA segundos ES @ViewBag.segundos<br />

